![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

### SQL

#### Problem 1

Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than **$2000** per month who have been employees for less than **10** months. Sort your result by ascending employee_id.

**Input Format**

The **Employee** table containing employee data for a company is described as follows:


| Field | Type |
|:----:|:---:|
| EMPLOYEE_ID | INTERGER |
| NAME | STRING |
| MONTH | INTERGER |
| SALARY | INTERGER |


where employee_id is an employee's ID number, name is their name, months is the total number of months they've been working for the company, and salary is the their monthly salary.

In [0]:
SELECT NAME FROM EMPLOYEE WHERE SALARY > 2000 AND MONTHS < 10 ORDER BY EMPLOYEE_ID ASC

LINK: https://www.hackerrank.com/rest/contests/master/challenges/salary-of-employees/hackers/hang_ngo512/download_solution

#### Problem 2

Query the list of CITY names from **STATION** that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | STRING |
| STATE | VARCHAR2(21) |
| LAT_N | VARCHAR2(2) |
| LONG_W | NUMBER |


where LAT_N is the northern latitude and LONG_W is the western longitude.

In [0]:
SELECT CITY FROM STATION GROUP BY CITY HAVING LEFT(CITY, 1) NOT IN('U', 'E', 'O', 'A', 'I') AND RIGHT(CITY, 1) NOT IN('U', 'E', 'O', 'A', 'I') ;

LINK: https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-12/hackers/hang_ngo512/download_solution

#### Problem 3

Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

**Input Format**

The **STUDENTS** table is described as follows: 


| Field | Type |
|:----:|:---:|
| ID | INTERGER |
| NAME | STRING |
| MARKS | INTERGER |



The Name column only contains uppercase (A-Z) and lowercase (a-z) letters.

In [0]:
SELECT NAME FROM STUDENTS WHERE MARKS>75 ORDER BY RIGHT(NAME, 3), ID ASC;

LINK: https://www.hackerrank.com/rest/contests/master/challenges/more-than-75-marks/hackers/hang_ngo512/download_solution

#### Problem 4

Query the sum of the populations for all Japanese cities in **CITY**. The COUNTRYCODE for Japan is **JPN**.

**Input Format**

The **CITY** table is described as follows:


| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT SUM(POPULATION) FROM CITY WHERE COUNTRYCODE='JPN'

LINK: https://www.hackerrank.com/rest/contests/master/challenges/japan-population/hackers/hang_ngo512/download_solution

#### Problem 5

Query the average population for all cities in **CITY**, rounded down to the nearest integer.

**Input Format**

The **CITY** table is described as follows:


| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT ROUND(AVG(POPULATION)) FROM CITY

Link: https://www.hackerrank.com/rest/contests/master/challenges/average-population/hackers/hang_ngo512/download_solution

#### Problem 6

Given the **CITY** and **COUNTRY** tables, query the names of all cities where the CONTINENT is 'Africa'.

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

**Input Format**

The CITY table is described as follows: 


| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

The COUNTRY table is described as follows:


| Field | Type |
|:----:|:---:|
| CODE | VARCHAR2(3) |
| NAME | VARCHAR2(44) |
| CONTINENT | VARCHAR2(13) |
| REGION | VARCHAR2(25) |
| SURFACEAREA | NUMBER |
| INDEPYEAR | VARCHAR2(5) |
| POPULATION | NUMBER |
| LIFEEXPECTANCY | VARCHAR2(4) |
| GNP | NUMBER |
| GNPOLD | VARCHAR2(9) |
| LOCALNAME | VARCHAR2(44) |
| GOVERMENTFORM | VARCHAR2(44) |
| HEADOFSTATE | VARCHAR2(32) |
| CAPITAL | VARCHAR2(4) |
| CODE2 | VARCHAR2(2) |

In [0]:
SELECT CITY.NAME FROM CITY, COUNTRY WHERE CITY.COUNTRYCODE = COUNTRY.CODE AND COUNTRY.CONTINENT = 'Africa';

LINK: https://www.hackerrank.com/rest/contests/master/challenges/african-cities/hackers/hang_ngo512/download_solution

#### Problem 7

Given the **CITY** and **COUNTRY** tables, query the names of all the continents (COUNTRY.Continent) and their respective average city populations (CITY.Population) rounded down to the nearest integer.

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

**Input Format**

The CITY table is described as follows: 


| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

The COUNTRY table is described as follows:


| Field | Type |
|:----:|:---:|
| CODE | VARCHAR2(3) |
| NAME | VARCHAR2(44) |
| CONTINENT | VARCHAR2(13) |
| REGION | VARCHAR2(25) |
| SURFACEAREA | NUMBER |
| INDEPYEAR | VARCHAR2(5) |
| POPULATION | NUMBER |
| LIFEEXPECTANCY | VARCHAR2(4) |
| GNP | NUMBER |
| GNPOLD | VARCHAR2(9) |
| LOCALNAME | VARCHAR2(44) |
| GOVERMENTFORM | VARCHAR2(44) |
| HEADOFSTATE | VARCHAR2(32) |
| CAPITAL | VARCHAR2(4) |
| CODE2 | VARCHAR2(2) |

In [0]:
SELECT COUNTRY.CONTINENT, ROUND(AVG(CITY.POPULATION)-0.5) FROM CITY, COUNTRY WHERE CITY.COUNTRYCODE = COUNTRY.CODE GROUP BY COUNTRY.CONTINENT

LINK: https://www.hackerrank.com/rest/contests/master/challenges/average-population-of-each-continent/hackers/hang_ngo512/download_solution

#### Problem 8

Given the **CITY** and **COUNTRY** tables, query the sum of the populations of all cities where the CONTINENT is 'Asia'.

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

**Input Format**

The CITY table is described as follows: 


| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

The COUNTRY table is described as follows:


| Field | Type |
|:----:|:---:|
| CODE | VARCHAR2(3) |
| NAME | VARCHAR2(44) |
| CONTINENT | VARCHAR2(13) |
| REGION | VARCHAR2(25) |
| SURFACEAREA | NUMBER |
| INDEPYEAR | VARCHAR2(5) |
| POPULATION | NUMBER |
| LIFEEXPECTANCY | VARCHAR2(4) |
| GNP | NUMBER |
| GNPOLD | VARCHAR2(9) |
| LOCALNAME | VARCHAR2(44) |
| GOVERMENTFORM | VARCHAR2(44) |
| HEADOFSTATE | VARCHAR2(32) |
| CAPITAL | VARCHAR2(4) |
| CODE2 | VARCHAR2(2) |

In [0]:
SELECT SUM(CITY.POPULATION) FROM CITY, COUNTRY WHERE CITY.COUNTRYCODE = COUNTRY.CODE AND COUNTRY.CONTINENT = 'Asia'

Link: https://www.hackerrank.com/rest/contests/master/challenges/asian-population/hackers/hang_ngo512/download_solution

#### Problem 9

We define an employee's total earnings to be their monthly ***salary x months*** worked, and the maximum total earnings to be the maximum total earnings for any employee in the Employee table. Write a query to find the maximum total earnings for all employees as well as the total number of employees who have maximum total earnings. Then print these values as ***2*** space-separated integers.

**Input Format**

The **Employee** table containing employee data for a company is described as follows:

| Field | Type |
|:----:|:---:|
| EMPLOYEE_ID | INTERGER |
| NAME | STRING |
| MONTHS | INTEGER |
| SALARY | INTEGER |

where employee_id is an employee's ID number, name is their name, months is the total number of months they've been working for the company, and salary is the their monthly salary.

In [0]:
SELECT SALARY*MONTHS AS EARN, COUNT(*) FROM EMPLOYEE GROUP BY EARN ORDER BY EARN DESC LIMIT 1

LINK: https://www.hackerrank.com/rest/contests/master/challenges/earnings-of-employees/hackers/hang_ngo512/download_solution

#### Problem 10
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows: 

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT * FROM CITY WHERE COUNTRYCODE='JPN'

Link: https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-attributes/hackers/hang_ngo512/download_solution

### Python

#### Problem 1

**Task** 
Read two integers and print two lines. The first line should contain integer division,  a//b . The second line should contain float division,  a/b .

You don't need to perform any rounding or formatting operations.

**Input Format**

The first line contains the first integer, a. The second line contains the second integer, b.

**Output Format**

Print the two lines as described above.

**Sample Input 0**

4
3
**Sample Output 0**

1
1.33333333333

In [8]:

a = int(input())
b = int(input())

print("=======")
print(a//b)
print(a/b)

4
3
=======
1
1.3333333333333333

Link: https://www.hackerrank.com/rest/contests/master/challenges/python-division/hackers/hang_ngo512/download_solution

#### Problem 2

**Task**
Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

**Input Format**

The first line contains the first integer, ***a***. The second line contains the second integer, ***b***.

**Output Format**

Print the three lines as explained above.

**Sample Input 0**

3
2

**Sample Output 0**

5
1
6

**Explanation 0**

3 + 2 = 5

3-2 = 1

3*2 = 6

In [0]:
a = int(input())
b = int(input())

print("=======")
print(a+b);
print(a-b);
print(a*b);

Link: https://www.hackerrank.com/rest/contests/master/challenges/python-arithmetic-operators/hackers/hang_ngo512/download_solution

#### Problem 3

Task 
Read an integer ***N***. For all non-negative integers ***i < N*** , print i*i ***bold text***. See the sample for details.

Input Format

The first and only line contains the integer, ***N***.

**Constraints**
 
 *1 <= N <= 20*

**Output Format**

Print ***N*** lines, one corresponding to each ***i***.

**Sample Input 0**

5

**Sample Output 0**

0
1
4
9
16

In [11]:
n = int(input())

for i in range(n):
    print(i*i);

5
0
1
4
9
16

Link: https://www.hackerrank.com/rest/contests/master/challenges/python-loops/hackers/hang_ngo512/download_solution

#### Problem 4

We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
In the Gregorian calendar three criteria must be taken into account to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.Source

**Task** 
You are given the year, and you have to write a function to check if the year is leap or not.

Note that you have to complete the function and remaining code is given as template.

**Input Format**

Read y, the year that needs to be checked.


**Output Format**

Output is taken care of by the template. Your function must return a boolean value (True/False)

**Sample Input 0**

1990

**Sample Output 0**

False

**Explanation 0**

1990 is not a multiple of 4 hence it's not a leap year.

In [14]:
def is_leap(year):
    leap = False

    if year%400 == 0:
        leap = True;
    elif year%4 == 0 and not (year%100 == 0):
        leap = True;
    else:
        leap = False;

    return leap

year = int(input())
print(is_leap(year))

1900
False

Link: https://www.hackerrank.com/rest/contests/master/challenges/write-a-function/hackers/hang_ngo512/download_solution

#### Problem 5

**Task**

You are given a date. Your task is to find what the day is on that date.

**Input Format**

A single line of input containing the space separated month, day and year, respectively, in    format.

**Constraints**

*2000 < year < 3000*

**Output Format**

Output the correct day in capital letters.

**Sample Input**

08 05 2015

**Sample Output**

WEDNESDAY

**Explanation**

The day on August 5th 2015 was WEDNESDAY.

In [15]:
import calendar

dateInput = input().split()

m = int(dateInput[0]);
d = int(dateInput[1]);
y = int(dateInput[2]);

print(calendar.day_name[calendar.weekday(y, m, d)].upper())

09 12 2019
THURSDAY

Link: https://www.hackerrank.com/rest/contests/master/challenges/calendar-module/hackers/hang_ngo512/download_solution